{% extends "layout.html" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock stylesheets %}

{% block page_content %}
<div align="center">
  <h1>Lorenz Cipher</h1>
  <div id="form">
    <form method="post">
      {{ form.hidden_tag() }}
      <p style="color: red;">{{ form.message.errors[0] }}</p>
      <p><label for="message" style="text-indent:50px;">Message to Encrypt/Decrypt
        {{ form.message}}
      </label></p>

      <input type="submit" name="submit" value="Encrypt Message" >

      <div class="wheel_list">

          <p><label for="chi_1" style="text-indent:50px;">Starting Rotation of Chi Wheel #1
            {{ form.chi_1}}
          </label></p>

          <p><label for="chi_2" style="text-indent:50px;">Starting Rotation of Chi Wheel #2
            {{ form.chi_2}}
          </label></p>

          <p><label for="chi_3" style="text-indent:50px;">Starting Rotation of Chi Wheel #3
            {{ form.chi_3}}
          </label></p>

          <p><label for="chi_4" style="text-indent:50px;">Starting Rotation of Chi Wheel #4
            {{ form.chi_4}}
          </label></p>

          <p><label for="chi_5" style="text-indent:50px;">Starting Rotation of Chi Wheel #5
            {{ form.chi_5}}
          </label></p>

      </div>

      <div class="wheel_list">

          <p><label for="mu_1" style="text-indent:50px;">Starting Rotation of Mu Wheel #1
            {{ form.mu_1}}
          </label></p>

          <p><label for="mu_2" style="text-indent:50px;">Starting Rotation of Mu Wheel #2
            {{ form.mu_2}}
          </label></p>

      </div>

      <div class="wheel_list">

          <p><label for="psi_1" style="text-indent:50px;">Starting Rotation of Psi Wheel #1
            {{ form.psi_1}}
          </label></p>

          <p><label for="psi_2" style="text-indent:50px;">Starting Rotation of Psi Wheel #2
            {{ form.psi_2}}
          </label></p>
          <p><label for="psi_3" style="text-indent:50px;">Starting Rotation of Psi Wheel #3
            {{ form.psi_3}}
          </label></p>
          <p><label for="psi_4" style="text-indent:50px;">Starting Rotation of Psi Wheel #4
            {{ form.psi_4}}
          </label></p>
          <p><label for="psi_5" style="text-indent:50px;">Starting Rotation of Psi Wheel #5
            {{ form.psi_5}}
          </label></p>

      </div>
    </form>
  </div>
</div>
{% endblock page_content %}
