<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block title %}
  <title>Lorenz</title>
  {% endblock title %}
  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>
{% block navigation %}
    <p></p><a href="{{ url_for('home') }}">Encrypt or Decrypt a Message</a></p>
{% endblock navigation %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message|safe }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="wrapper">
    {% block page_content %}
    {% endblock page_content %}
</div>
</body>
</html>
